---
layout: post-index
title: Blog
desc: share my thoughts
description: "KingX's Blog"
tags: [security, hack, kingx, qwerty, blog, cybersecurity]
comments: false
image:
  feature: abstract-8.jpg
---

{% for post in site.posts %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

    {% if forloop.first %}
    <article>
      <h2 id="{{ this_year }}-ref">{{ this_year }}</h2>
      <ul>
    {% endif %}
        {% if post.title contains 'unpublish' %}
        {% else %}
        <li class="entry-title" style="padding:2px 0px;"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
        {% endif %}
    {% if forloop.last %}
      </ul>
    </article>
    {% else %}
        {% if this_year != next_year %}
          </ul>
        </article>
        <article>
          <h2 id="{{ next_year }}-ref" class="year-heading">{{next_year}}</h2>
          <ul>
        {% endif %}
    {% endif %}
{% endfor %}
